:host {
  display: block;
  width: 100%;
}

.planet-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem 0;
}

.planet-container {
  position: relative;
  width: min(420px, 80vw);
  height: min(420px, 80vw);
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 5px -3px 10px 3px #5e90f1;
}

.night,
.day,
.clouds,
.inner-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
}

.night {
  z-index: 2;
  background-image: url('https://www.solarsystemscope.com/textures/download/2k_earth_nightmap.jpg');
  background-size: 200% 100%;
  animation: rotate-night 80s linear infinite;
}

.day {
  z-index: 3;
  background-image: url('https://www.solarsystemscope.com/textures/download/2k_earth_daymap.jpg');
  background-size: 200% 100%;
  margin-left: 22%;
  box-shadow: 5px 0 20px 10px #040615 inset;
  animation: rotate-day 80s linear infinite;
}

.clouds {
  z-index: 4;
  background-image: url('https://www.solarsystemscope.com/textures/download/2k_earth_clouds.jpg');
  background-size: 200% 100%;
  opacity: 0.45;
  margin-left: 20%;
  box-shadow:
    5px 0 20px 10px #040615 inset,
    -9px 0 20px 10px #5e90f1 inset;
  animation: rotate-day 50s linear infinite, spin-clouds 100s ease-in-out infinite;
}

.inner-shadow {
  z-index: 5;
  box-shadow:
    -5px 0 10px 1px #152b57 inset,
    5px 0 10px 1px #040615 inset;
}

@keyframes rotate-day {
  0% {
    background-position: 120% 0;
  }
  100% {
    background-position: -80% 0;
  }
}

@keyframes rotate-night {
  0% {
    background-position: calc(120% + 22%) 0;
  }
  100% {
    background-position: calc(-80% + 22%) 0;
  }
}

@keyframes spin-clouds {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
